.site-image {
	width: 100%;
}

.site-name {
	padding: 80px;
	font-family: "Arial","Times New Roman";
}

.featured-work {
	font-size: 30px;
	color: grey;
	font-family: "Arial","Times New Roman";
	padding: 30px;
}

.right {
    text-align: right;
}

.img-center {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
}

.project-name {
	text-align: center;
	font-size: 30px;
	font-family: "Courier New","Times New Roman";
	padding: 20px 0px
}

.project-url {
	text-align: center;
}